
.restaurant-teaser {
  height: 364px;
  background: url("../img/restaurant-preview.png");
  background-size: cover;
  margin-top: 72px;
}

.wrapper-teaser {
  max-width: 962px;
  height: 364px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.restaurant-teaser_info {
  width: 389px;
  height: 204px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 16px var(--hover-card-color);
}

.info__delivery-info {
  display: flex;
  justify-content: space-between;
  width: 319px;
  margin: 0 auto;
  align-items: center;
  height: 32px;
  margin-bottom: 38px;
}

.info__restaurant-name {
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-top: 38px;
}

.delivery-info_currency {
  font-family: var(--main-font);
  color: var(--second-font-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.delivery-info__time {
  font-family: var(--main-font);
  color: var(--white);
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  width: 97px;
  height: 32px;
  background: var(--black);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-menu {
  border-bottom: var(--border);
  border-top: var(--border);
  position: sticky;
  top: 72px;
  box-shadow: 0 16px 8px rgba(38, 38, 38, 0.1);
  background: var(--white);
  z-index: 9;
}

.wrapper-menu {
  max-width: 962px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.restaurant-menu__type {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.type_food {
  font-family: var(--main-font);
  color: var(--second-font-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: content-box;
  width: 60px;
  position: relative;
}

.type_food::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--brand-color);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.type_food:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.type_food:hover {
  color: var(--brand-color);
}

.active {
  font-family: var(--main-font);
  color: var(--brand-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
