@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import "../Header/Header.css";
/*@import "components/wrapper/wrapper.css";*/
@import "../Location/Location.css";
@import "../Cabinet/Cabinet.css";
/*@import "components/search-panel/search-panel.css";*/
/*@import "components/restaurant-page/restaurant-page.css";*/
/*@import "components/menu-dishes/menu-dishes.css";*/
@import "../../variables.css";

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}