.type-food-menu {
  flex-grow: 1;
}

.menu_dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-dishes {
  max-width: 962px;
  margin: 0 auto;
}

.type-food_menu-name {
  font-family: var(--main-font);
  color: var(--main-font-color);
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.dish {
  width: 470px;
  height: 160px;
  border: var(--border);
  border-radius: 4px;
  margin-bottom: 49px;
}

.dish-to-basket {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.dish-to-basket:hover {
  background: var(--hover-card-color);
}

.dish-to-basket:hover .dish_description-additive {
  opacity: 1;
  transition: 0.4s ease-out;
}

.dish_description {
  padding-left: 16px;
}

.dish_description-name {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-font-color);
  margin-top: 16px;
  margin-bottom: 0;
}

.dish_description-additive {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: var(--second-font-color);
  margin-top: 4px;
  margin-bottom: 0;
  opacity: 0;
}

.dish_description-price {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--main-font-color);
  margin-top: 58px;
  margin-bottom: 16px;
}

.dish-photo-preview {
  width: 170px;
  height: 160px;
}
